form {
    display: flex;
    flex-direction: column;
    padding: 60px;
   
   
    
}

input {
 
    width: 80%;
    padding: 15px;;
  
   
}

 form button{
    width: 80px;
    color: #22b9b9;
    height: 50px;
    background-color: #494949;
}
